.contact_header {
    p {
        font-size: 45px;
        padding-left: 0;
        margin-bottom: 27px;
        margin-top: 90px;
    }
    .contact_line {
        border-bottom: 2px solid black;
        margin-bottom: 96px;
    }
   
}

.contact_text {
    p {
        font-size: 25px;
        margin-bottom: 30px;
    }
}

form {
    .form-control {
        background: #E5E5E5;
        border: 2px solid black;
        margin-bottom: 10px;
    }
    .name_row {
        p {
            padding-left: 15px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    label {
        margin-top: 10px;
    }
    .btn {
        margin-top: 20px;
        margin-bottom: 100px;
        background: #E5E5E5;
        color: black;
        font-size: 20px;
        padding: 8px 30px;
        border: 2px solid black;
    }
}

