.contact_header {
    p {
        font-size: 45px;
        padding-left: 0;
        margin-bottom: 27px;
        margin-top: 90px;
    }
    .contact_line {
        border-bottom: 2px solid black;
        margin-bottom: 96px;
    }
   
}

.contact_text {
    p {
        font-size: 25px;
        margin-bottom: 30px;
    }
}