.hero_image {
    z-index: 0;
}

.hero_text {
    left: 120px;
    top: 82px;
    z-index: 1;
    p {
        line-height: 1.1em;
        font-size: 50px;
        .text_deco {
            text-decoration: underline 3px;
        }
    }
    
}