.newsletter_component {
    p {
        text-align: center;
        font-size: 15px;
        color: #6B7280;
        margin-top: 7px;
    }
    .newsletter_line {
        border-bottom: 2px solid black;
        margin-bottom: 96px;
        margin-top: 57px;
    }
}

.newsletter_text {
    margin-top: 100px;
    text-align: center;

    h2 {
        font-size: 30px;
        margin-bottom: 19px;
    }
    p {
        font-size: 20px;
        margin-bottom: 39px;
    }
}

.arena_button {
    display: flex;
    button {
        margin-left: 7px;
        width: 75px;
        height: 32px;
        background: #4E4E4E
    }
    svg {
        background: border-box;
    }
}