.opinion_header {
    p {
        font-size: 45px;
        padding-left: 0;
        margin-bottom: 27px;
        margin-top: 90px;
    }
    .opinion_line {
        border-bottom: 2px solid black;
        margin-bottom: 96px;
    }
   
}

.opinion_content {
    text-align: center;
    p {
        font-size: 25px;
    }
    .opinion_content_person {
        margin-top: 35px;
        margin-bottom: 0;
    }
}