.projects_component {
    margin-top: 150px;
    .project_header {
        p {
            font-size: 45px;
            padding-left: 0;
            margin-bottom: 27px;
        }
        .project_line {
            border-bottom: 2px solid black;
            margin-bottom: 96px;
        }
       
    }
    .project_example {
        p {
            font-size: 30px;
        }
    }
}